<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jatistransproject">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity android:name=".EditAkunActivity" />
        <activity android:name=".Profil" />
        <activity android:name=".SeatActivity" />

        <activity android:name=".Pemesanan" />

        <activity android:name=".PilihBusActivity" />
        <activity android:name=".RegisterActivity" />
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Tentang_Kami" />
        <activity android:name=".HubungiKami" />
        <activity android:name=".SettingActivity" />
        <activity android:name=".KodePromo" />
        <activity android:name=".KesamaanNamaPenumpang" />
        <activity android:name=".PembayaranMataUang" />
        <activity android:name=".Bantuan" />
        <activity android:name=".BerandaActivity" />
        <activity android:name=".AkunActivity" />
        <activity android:name=".PesananActivity" />
        <activity android:name=".Cobacoba" />
        <activity android:name=".FormPembayaran" />
        <activity android:name=".MetodePembayaran" />
        <activity android:name=".E_ticket" />
    </application>

</manifest>